@use 'assets/mixins';

.list {
  @include mixins.flex($align: center, $gap: 12px);

  list-style: none;

  padding: 0;

  & .item {
    font-size: 1.4rem;

    &.active {
      text-decoration: underline;
    }

    & .link {
      cursor: pointer;
    }
  }
}
