// Here lies the common scss mixins

@mixin flex($align: null, $justify: null, $dir: null, $flex: null, $gap: null) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $dir;
  flex: $flex;
  gap: $gap;
}

@mixin unselectable() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
